#topNav{
    background-color: black;
    height: 40px;
}
#orange{
    color: orange;
}
.red{
    color: red;
}
#home{
    float: left;
    width: 180px;
}
#dropDownButton{
    color:white;
    float: right;
    font-size: 24px;
    padding-right: 20px;
}

#content{
    margin-top:50px ;
    width: 100%;
    padding: 0;
}
#promo{
    margin:0;
    max-width: 100%;
}
#loyalty{
    margin:0;
    max-width: 100%;
}
#locations{
    margin:0;
    max-width: 100%;
}
#about{
    max-width: 700px;
    margin: 0 auto;
}
#hoax{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(216, 0, 0);
}
#description{
    font-size: 16px;
    margin: 10px;
}
#links{

}
.infoLink{
    width: 200px;
    margin: 0 auto;
    height: 70px;
}
.linkText{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}